/* pages/skill/skill.wxss */
.btn {
  margin-top: 20rpx;
}

// An highlighted block
/* 抽屉 */
.drawer-box {
  width: 100vw;
  height: 100vh;
  background: #cccccc;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
}

.mark-box {
  background: #fff;
  padding: 20rpx 20rpx 10rpx;
  color: #f40;
  width: 180rpx;
  height: 100vh;
}