/* custom-tab-bar/index.wxss */
.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96rpx;
  box-shadow: -4rpx 0 2rpx 0 #000000;
  background: white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 56rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .tab-bar-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20rpx;

    .icon-bookShelf,
    .icon-bookShelf-selected,
    .icon-my,
    .icon-my-selected {
      font-size: 48rpx;
    }

    .icon-bookShelf::before {
      content: "\e611";
    }

    .icon-bookShelf-selected::before {
      content: "\e612";
    }

    .icon-my::before {
      content: "\e60f";
    }

    .icon-my-selected::before {
      content: "\e610";
    }
  }
}