/**
 * 重命名按钮是否置灰
 * @param selectedIds 选中书籍ID集合
 * @returns boolean
 */
var getDisabled = function (selectedIds) {
  return selectedIds.length === 1 ? '' : 'disabled';
}

/**
 * 获取选择icon的className
 * @param bookItem 书籍数据
 * @param selectedIds 选中的书籍ID集合
 * @returns string className
 */
var getSelectClass = function (bookItem, selectedIds) {
  var arr = selectedIds.filter(function (i) {
    return i === bookItem.id
  });
  return arr.length === 0 ? 'iconfont book-unselected-icon' : 'iconfont book-selected-icon';
}

module.exports = {
  getDisabled: getDisabled,
  getSelectClass: getSelectClass,
};