@font-face {
  font-family: "iconfont";
  /* Project id 4023665 */
  src: url("//at.alicdn.com/t/c/font_4023665_bhiu7m1qf3k.woff2?t=1682327554180") format("woff2"),
    url("//at.alicdn.com/t/c/font_4023665_bhiu7m1qf3k.woff?t=1682327554180") format("woff"),
    url("//at.alicdn.com/t/c/font_4023665_bhiu7m1qf3k.ttf?t=1682327554180") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 56rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}