/* Singlecolor */
@font-face {
  font-family: 'iconfont';  /* Project id 4036364 */
  src: url('//at.alicdn.com/t/c/font_4036364_6jqnbjvmfhl.woff2?t=1682429588810') format('woff2'),
       url('//at.alicdn.com/t/c/font_4036364_6jqnbjvmfhl.woff?t=1682429588810') format('woff'),
       url('//at.alicdn.com/t/c/font_4036364_6jqnbjvmfhl.ttf?t=1682429588810') format('truetype');
}

/* Multicolor */
@font-face {
  font-family: 'iconfont';  /* Project id 4023665 */
  src: 
       url('//at.alicdn.com/t/c/font_4023665_nzc2u8csz9j.woff2?t=1682332073423') format('woff2'),
       url('//at.alicdn.com/t/c/font_4023665_nzc2u8csz9j.woff?t=1682332073423') format('woff'),
       url('//at.alicdn.com/t/c/font_4023665_nzc2u8csz9j.ttf?t=1682332073423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 56rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}